---
import 'styles.css';
import Footer from 'components/Footer.astro';
import Header from 'components/Header.astro';
import 'svelte-material-ui/bare.css';

const VARIANT_CLASS_MAP = {
  blog: 'tw-prose',
  page: 'tw-px-12',
};

type Props = {
  page: string;
  variant?: 'page' | 'blog';
};

const { page } = (Astro.props.frontmatter || Astro.props) as Props;

const title = 'Multi Framework Dashboard';
const variantClass =
  VARIANT_CLASS_MAP[Astro.props.frontmatter ? 'blog' : 'page'];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/vuetify.min.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="tw-flex tw-h-screen tw-overflow-hidden">
      <main
        class="tw-relative tw-bg-white tw-flex tw-flex-col tw-flex-1 tw-overflow-y-auto tw-overflow-x-hidden"
      >
        <Header title={title} page={page} />
        <div class={`tw-container tw-mx-auto tw-my-10 ${variantClass}`}>
          <slot />
        </div>
        <Footer />
      </main>
    </div>
  </body>
</html>
